<!DOCTYPE html>
<html>
	<head>
		<title>redarmy.es | Home</title>
	</head>
	<body>
		<h1>redarmy.es</h1>
		<p>
			This is the home page for <a href="http://redarmy.es">redarmy.es</a>.
		</p>
	</body>
</html>	